<div class="users" *ngIf="users && users.length > 0 else nodata">
  <mat-card class="user_card" *ngFor="let user of users">
    <mat-card-header>
      <img mat-card-avatar class="user_icon" [src]="user.iconUrl" [alt]="user.screenName" *ngIf="user.iconUrl" />
      <img mat-card-avatar class="user_icon" src="assets/icon/default_user_icon.png" alt="default" *ngIf="!user.iconUrl" />
      <mat-card-title>{{user.nickname}}</mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/user', user.screenName]">
          @{{user.screenName}}
        </a>
      </mat-card-subtitle>
      <mat-card-content>
        <span class="following">
          正在关注:{{user.followings}}
        </span>
        <span class="follower">
          追随者:{{user.followers}}
        </span>
      </mat-card-content>
    </mat-card-header>

  </mat-card>
</div>
<ng-template #nodata>
  <div *ngIf="empty">
    已到达尽头
  </div>
  <div *ngIf="!empty">
    加载中...
  </div>
</ng-template>

<div class="page">
  <a [routerLink]="[{page: '1'}]">
    首页
  </a>
  <a [routerLink]="[{page: (page - 1).toString()}]" *ngIf="page > 1">
    上一页
  </a>
  <a [routerLink]="[{page: (page + 1).toString()}]" *ngIf="!empty">
    下一页
  </a>
</div>
